@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box
{
    position: relative;
    width: 600px;
    height: 700px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    transparent,#aaf12f,#f7eb0e,#c8ef19);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    transparent,#aaf12f,#f7eb0e,#c8ef19);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    transparent,#cd2ff1,#0e4cf7,#ef19c8);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    transparent,#cd2ff1,#0e4cf7,#ef19c8);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.container
{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.profile-image {
    border-radius: 50%; /* This will make the image round */
    display: block; /* This will allow the use of margin */
    margin-left: auto; /* These two lines will center the image */
    margin-right: auto;
    width: 250px; /* This will set the width of the image */
    height: 250px; /* This will set the height of the image */
    object-fit: cover; /* This will ensure the image covers the full width and height without distortion */
}
.Welcome
{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}
.email{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}
.btn{
    background: #f7eb0e;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}